/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 104, ../images/icon/*.png */
.icon-sprite, .icon-1, .icon-2, .icon-earth, .icon-qq, .icon-tag3, .icon-tag4, .icon-twitter, .icon-weibo {
  background-image: url('/images/../images/icon-sb67d50b25a.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-1 {
  background-position: 0 0;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-2 {
  background-position: 0 -42px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-earth {
  background-position: 0 -82px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-qq {
  background-position: 0 -107px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tag3 {
  background-position: 0 -132px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tag4 {
  background-position: 0 -172px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-twitter {
  background-position: 0 -212px;
}

/* line 84, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-weibo {
  background-position: 0 -237px;
}

/* line 13, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 16, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 19, ../sass/screen.scss */
a, span, p {
  color: #787b83;
  font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}

/* line 23, ../sass/screen.scss */
.pull-left {
  float: left;
}

/* line 26, ../sass/screen.scss */
.pull-right {
  float: right;
}

/* line 29, ../sass/screen.scss */
h2 {
  font-size: 21px;
}

/* line 32, ../sass/screen.scss */
header {
  height: 60px;
  line-height: 60px;
  padding: 0 60px;
  border-bottom: solid 1px #ddd;
}
/* line 38, ../sass/screen.scss */
header .logo img {
  width: 30px;
  vertical-align: sub;
}
/* line 42, ../sass/screen.scss */
header .logo span {
  color: black;
  font-size: 20px;
  margin-left: 10px;
}
/* line 48, ../sass/screen.scss */
header nav {
  font-size: 0;
}
/* line 50, ../sass/screen.scss */
header nav a {
  font-size: 14px;
  padding: 0 10px;
  margin: 0 10px;
  display: inline-block;
}
/* line 56, ../sass/screen.scss */
header nav a:hover {
  line-height: inherit;
  color: #E74F4D;
  border-bottom: solid 3px #E74F4D;
}

/* line 63, ../sass/screen.scss */
.begin {
  min-width: 980px;
  height: 690px;
}
